@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #B8D8FF;
    font-weight: 200;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column ;
}

h1{
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
}

h1 i {
    font-style: italic;
    font-weight: 600;
}

.write{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .body{
        padding: 80px;
    }

    .write{
        padding-left: 30px;
        padding-top: 30px;
    }
}

@media (min-width: 1024px){
    .write{
        padding-left: 300px;
        padding-right: 300px;
    }
}

